:root {
	--white: #FFFFFF;
	--tan-1: #FBF9F6;
	--tan-2: #E7E2DD;
	--tan-3: #E2D9D1;
	--tan-4: #D3C1AE;
	--orange: #F67F00;
	--contrast: turquoise;
	--text-light: #968c84;
	--text-dark: #615954;
}

/* #root { height: 100%; } */

*, *:before, *:after { box-sizing: border-box; }


/* MISC TAGS ------------------------------------------------- */

body {
	background-color: var(--tan-3);
	color: var(--text-dark);
	font-family: Georgia;
	margin: 0;
	padding: 2vmin;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS';
	text-align: center;
	color: var(--text-light);
}

p.error-message {
	color: var(--orange);
	text-align: center;
}

h1 { color: var(--text-dark); }
a { color: indigo; }


/* COMPONENTS ----------------------------------------------- */

.App { color: var(--text-dark); }

.NavBar {
	display: flex;
	justify-content: space-between;
	font-family: 'Trebuchet MS';
}

/* .ForumPage { } */
.Post {
	background-color: var(--tan-2);
}


/* FORMS ------------------------------------------------------ */

.form-container {
	background-color: var(--tan-2);
	border: .1vmin solid var(--tan-4);
	padding: 3vmin;
	border-radius: 1vmin;
}

form {
	color: var(--text-light);
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.25vmin;
}

label {
	font-size: 2vmin;
	display: flex;
	font-family: 'Trebuchet MS';
}

input, textarea {
	background-color: var(--tan-1);
	color: var(--text-light);
	border: .1vmin solid var(--tan-3);
	font-family: 'Trebuchet MS';
	padding: 1vmin;
	font-size: 2vmin;
	border-radius: .5vmin;
	outline: none;
	background-image: none !important; /* prevent lastpass */
}

input:focus { border-color: var(--orange); }
textarea:focus { border-color: var(--orange); }


/* BUTTONS --------------------------------------------------- */

button {
	background-color: var(--tan-4);
	color: var(--text-dark);
	border: .1vmin solid var(--tan-2);
	font-family: 'Trebuchet MS';
	margin: 1vmin;
	padding: 1vmin;
	font-size: 2vmin;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border-radius: .5vmin;
	outline: none;
	cursor: pointer;
}

button:hover { 
	background-color: var(--text-light); 
	color: var(--tan-1);
}

button:disabled, form:invalid button[type="submit"] {
	background-color: var(--tan-4);
	cursor: default;
}

button[type="submit"] {
	grid-column: span 2;
	margin: 1vmin 0 0;
}

button.tagButton { width: 100px; }
button.btn-sm { font-size: 1.5vmin; padding: .6vmin .8vmin; }
button.btn-xs { font-size: 1vmin; padding: .4vmin .5vmin; }



/* Little Helpers */
.editable { border-color: var(--orange); }
.hidden { display: none; }
.align-ctr { text-align: center; }
.align-rt { text-align: right; }
.smaller { font-size: smaller; }
.flex-col { flex-direction: column; }
.flex-j-end { justify-content: flex-end; }
.scroll-y { overflow-y: scroll; }